nodered{json}.txt
[{"id":"df80360.4e2c5c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6e19a8bf.f47fa8","type":"ibmiot in","z":"df80360.4e2c5c8","authentication":"apiKey","apiKey":"7a2312a7.8245bc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"facedetect","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":250,"y":100,"wires":[["a5278172.f7ddb"]]},{"id":"a5278172.f7ddb","type":"debug","z":"df80360.4e2c5c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"dab0e2e7.7182b","type":"http request","z":"df80360.4e2c5c8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://bd453ab0-a5bd-4358-b64d-83ca7948d553-bluemix.cloudant.com/facedetect/_all_docs?include_docs=true&desending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":200,"wires":[["28caff9e.ab9e5"]]},{"id":"dadabf99.ce876","type":"inject","z":"df80360.4e2c5c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["dab0e2e7.7182b"]]},{"id":"28caff9e.ab9e5","type":"function","z":"df80360.4e2c5c8","name":"","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["ce16890e.aee458","ad3b4554.f411e8"]]},{"id":"eb2262f4.69ab3","type":"cloudant in","z":"df80360.4e2c5c8","name":"","cloudant":"e9549b0.883aa68","database":"facedetect","service":"node-red-qwxdg-2021--cloudant-1625553476379-8919","search":"_all_","design":"","index":"","x":430,"y":60,"wires":[[]]},{"id":"ce16890e.aee458","type":"ui_template","z":"df80360.4e2c5c8","group":"c38bdfd9.d6c13","name":"","order":0,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"470\" width = \"280\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":280,"wires":[[]]},{"id":"ad3b4554.f411e8","type":"debug","z":"df80360.4e2c5c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":200,"wires":[]},{"id":"9f47fe83.5a0c","type":"watson-text-to-speech","z":"df80360.4e2c5c8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"wEC5N60k63Es6tbZ55PPAHEO445rt0NtsFyRrLjVg073","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/4c84a84f-1fd1-495e-8266-bec86c805b39","x":360,"y":340,"wires":[["c4f08ab0.ee7cd8"]]},{"id":"44c10f53.10fe3","type":"inject","z":"df80360.4e2c5c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Please were your mask","payloadType":"str","x":140,"y":340,"wires":[["9f47fe83.5a0c"]]},{"id":"c4f08ab0.ee7cd8","type":"play audio","z":"df80360.4e2c5c8","name":"","voice":"1","x":620,"y":360,"wires":[]},{"id":"7a2312a7.8245bc","type":"ibmiot","name":"","keepalive":"60","serverName":"7x37hm.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e9549b0.883aa68","type":"cloudant","host":"face-mask-detection.p.rapidapi.com","name":""},{"id":"c38bdfd9.d6c13","type":"ui_group","name":"Default","tab":"ac3a1d5.caba1e","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac3a1d5.caba1e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]